<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="IdentityServer Local" value="./nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="ZinfoFramework.IdentityModel" />
      <package pattern="ZinfoFramework.IdentityModel.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="IdentityServer Local">
      <package pattern="ZinfoFramework.IdentityServer4" />
      <package pattern="ZinfoFramework.IdentityServer4.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
