<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="./artifacts/group-5-zinfo-global-packages" />
  </config>
  <packageSources>
    <clear />
    <add key="local-staging" value="C:\Projetos\Identity\nuget-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-staging">
      <package pattern="ZinfoFramework.IdentityModel" />
      <package pattern="ZinfoFramework.IdentityModel.AspNetCore.AccessTokenValidation" />
      <package pattern="ZinfoFramework.IdentityModel.AspNetCore.OAuth2Introspection" />
      <package pattern="ZinfoFramework.IdentityModel.OidcClient" />
      <package pattern="ZinfoFramework.IdentityModel.OidcClient.DPoP" />
      <package pattern="ZinfoFramework.IdentityModel.OidcClient.IdentityTokenValidator" />
      <package pattern="ZinfoFramework.IdentityServer4" />
      <package pattern="ZinfoFramework.IdentityServer4.Storage" />
      <package pattern="ZinfoFramework.IdentityServer4.EntityFramework.Storage" />
      <package pattern="ZinfoFramework.IdentityServer4.EntityFramework" />
      <package pattern="ZinfoFramework.IdentityServer4.AspNetIdentity" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
